absl-py==1.0.0
appdirs==1.4.4
astropy==4.1.0
astunparse==1.6.3
biopython==1.76
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==6.2.0
coveralls==3.3.1
datacache==1.1.5
future==0.18.2
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
gtfparse==1.2.1
h5py==2.10.0
idna==3.3
importlib-metadata==4.8.3
isovar==1.1.1
Jinja2==3.0.3
joblib==1.1.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
Markdown==3.3.6
MarkupSafe==2.0.1
memoized-property==1.0.3
mhcflurry==2.0.1
mhcnames==0.4.8
mhcnuggets==2.3.3
mhctools==1.8.1
mock==4.0.3
networkx==2.5.1
np-utils==0.6.0
numpy==1.18.5
oauthlib==3.2.0
opt-einsum==3.3.0
pandas==1.1.5
pdfkit==1.0.0
Pillow==8.4.0
progressbar33==2.4
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyensembl==1.9.4
pyerfa==1.7.3
pymp-pypi==0.5.0
pypandoc==1.7.2
pysam==0.18.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
roman==3.3
rsa==4.8
scikit-learn==0.24.2
scipy==1.5.4
sercol==0.1.4
serializable==0.2.1
setuptools==57.4.0
shellinford==0.4.1
simanneal==0.5.0
simplejson==3.17.6
six==1.16.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.2
tensorflow-estimator==2.2.0
termcolor==1.1.0
testfixtures==6.18.3
threadpoolctl==3.1.0
tinytimer==0.0.0
tqdm==4.62.3
typechecks==0.1.0
typing_extensions==4.1.1
urllib3==1.26.8
varcode==1.0.3
vaxrank==1.4.0
vcfpy==0.13.3
Werkzeug==2.2.3
wget==3.2
wrapt==1.13.3
xlrd==2.0.1
XlsxWriter==3.0.2
xvfbwrapper==0.2.9
zipp==3.6.0
