name: pVACtools tests

on:
  push:
    branches: [ master, staging, hotfix ]
  pull_request:
    types: [opened, synchronize, edited, reopened]
    branches: [ master, staging, hotfix]

jobs:
  run_tests:
    name: "Test prediction algorithms used by pVACtools in various Python versions"

    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v2
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ghostscript
          sudo apt-get install -y gcc
          sudo apt-get install -y pandoc
          sudo apt-get install -y mafft
          pip install pypandoc==1.7.2
          pip install coverage
          pip install coveralls
      - name: Install Python dependencies
        run: |
          pip install polars==0.16.18
          pip install pypandoc==1.7.2
          pip install "tensorflow<2.16"
          pip install git+https://github.com/griffithlab/bigmhc.git#egg=bigmhc
          pip install git+https://github.com/griffithlab/deepimmuno.git#egg=deepimmuno
          pip install -e .
          mhcflurry-downloads fetch
      - name: Install MixMHCpred
        uses: actions/checkout@master
        with:
          repository: GfellerLab/MixMHCpred
          path: ./MixMHCpred
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up MixMHCpred
        run: |
          cd MixMHCpred
          pip install -r code/setup_pythonLibrary.txt
          chmod +x MixMHCpred
          echo "$(pwd -P)" >> $GITHUB_PATH
          cd ..
      - name: List installed packages
        run: |
          pip list
      - name: Run tests
        env:
          TEST_FLAG: 1
        run: python -m unittest predictor_tests/test_call_iedb.py
