name: pVACtools tests

on:
  push:
    branches: [ master, staging, hotfix ]
  pull_request:
    types: [opened, synchronize, edited, reopened]
    branches: [ master, staging, hotfix]

jobs:
  test_python_3_6:
    name: "Test Python 3.6"

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.6']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ghostscript
          sudo apt-get install -y gcc
          sudo apt-get install -y pandoc
          pip install setuptools==57
          pip install pypandoc==1.7.2
          pip install coverage
          pip install coveralls
      - name: Install Python dependencies
        run: |
          pip install -e .
          mhcflurry-downloads fetch
      - name: List installed packages
        run: |
          pip list
      - name: Run tests
        env:
          TEST_FLAG: 1
        run: coverage run --source=pvactools.lib,pvactools.tools -m unittest discover -v
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
  test_other_python_versions:
    name: "Test Other Python Versions"

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ghostscript
          sudo apt-get install -y gcc
          sudo apt-get install -y pandoc
          pip install setuptools==57
      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          pip install -e .
          mhcflurry-downloads fetch
      - name: List installed packages
        run: |
          pip list
      - name: Run tests
        env:
          TEST_FLAG: 1
        run: coverage run --source=pvactools.lib,pvactools.tools -m unittest discover -v -s tests
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
