name: pVACtools tests

on:
  push:
    branches: [ master, staging, hotfix ]
  pull_request:
    branches: [ master, staging, hotfix]

jobs:
  tests:
    name: Tests

    runs-on: ubuntu-16.04
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ghostscript
          sudo apt-get install -y gcc
      - name: Install Python dependencies
        run: |
          pip install mhcnuggets==2.3.3
          pip install mhcflurry==2.0.1
          pip install tensorflow==2.2.1
          pip install keras==2.3.1
          pip install pandas==0.25.2
          pip install coveralls
          pip install -e .
          mhcflurry-downloads fetch
      - name: Run tests
        env:
          TEST_FLAG: 1
        run: coverage run --source=lib,tools -m unittest discover -v
      - name: Coveralls
        run: coveralls
