name: pVACtools tests

on:
  push:
    branches: [ master, staging, hotfix ]
  pull_request:
    types: [opened, synchronize, edited, reopened]
    branches:
      - '**'

jobs:
  run_tests:
    name: "Test pVACtools in various Python versions"

    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ghostscript
          sudo apt-get install -y gcc
          sudo apt-get install -y pandoc
          pip install pypandoc==1.7.2
          pip install coverage
          pip install coveralls
      - name: Install Python dependencies
        run: |
          pip install polars==0.16.18
          pip install pypandoc==1.7.2
          pip install "tensorflow<2.16"
          pip install -e .
      - name: List installed packages
        run: |
          pip list
      - name: Run tests
        env:
          TEST_FLAG: 1
        run: coverage run --source=pvactools.lib,pvactools.tools -m unittest discover -v -s tests
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
